body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(255 241 224);
}
.attribution {
  display: grid;
  justify-items: center;
  font-size: 11px;
  margin: 20px 0px;
}
.container {
  width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
header {
  width: 100%;
}
img {
  width: 100%;
  border-radius: 10px;
}
h1 {
  text-align: start;
}
h3 {
  margin: 0px;
  padding: 0px;
  color: #93497e;
  font-weight: bold;
}
h2 {
  color: rgb(130 70 30);
}
.firts-text {
  text-align: justify;
}
#section-1 {
  background-color: #f8f1ff;
  padding: 5px 10px;
  border-radius: 10px;
}
ul {
  padding-left: 12px;
}
li {
  margin-bottom: 5px;
}
#list-3 {
  list-style-type: decimal;
}
#list-3 > li {
  padding-left: 5px;
  text-align: justify;
  margin-bottom: 10px;
}
hr {
  border-color: #f5f5f545;
}
table {
  width: 100%;
}
tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede;
}
tr td:nth-child(2) {
  color: rgb(130 70 30);
  font-weight: bold;
  width: 20%;
}
tr td:nth-child(1) {
  width: 30%;
}

@media screen and (max-width: 600px) {
    .container {
      width: 80%;
    }
  
    table {
      font-size: 14px;
    }
  
    tr {
      flex-direction: column;
    }
  
    tr td {
      width: 100%;
    }
  
    tr td:nth-child(1) {
      width: 100%;
      margin-bottom: 5px;
    }
  
    tr td:nth-child(2) {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .container {
      padding: 10px;
      width: 80%;
    }
  }